#{"$MICHI"
  "00"
  "0X0"
  "10SET"
  "1INCH"
  "2Z"
  "A8"
  "AAVE"
  "AB"
  "ABT"
  "ABTC"
  "ACH"
  "ACS"
  "ACT"
  "ACX"
  "ADA"
  "AED"
  "AERGO"
  "AERO"
  "AEVO"
  "AFN"
  "AGENTFUN"
  "AGI"
  "AGIX"
  "AGLD"
  "AI"
  "AI16Z"
  "AIC"
  "AIOZ"
  "AIXBT"
  "AKT"
  "AKUMA"
  "ALCX"
  "ALEO"
  "ALEPH"
  "ALEX"
  "ALGO"
  "ALICE"
  "ALL"
  "ALLO"
  "ALPH"
  "ALT"
  "ALUSD"
  "AMAPT"
  "AMD"
  "AMP"
  "AMPL"
  "ANDY"
  "ANG"
  "ANIME"
  "ANKR"
  "ANT"
  "AO"
  "AOA"
  "APE"
  "APEX"
  "API3"
  "APR"
  "APT"
  "APU"
  "AR"
  "ARB"
  "ARC"
  "ARK"
  "ARKM"
  "ARPA"
  "ARS"
  "ARX"
  "ASM"
  "AST"
  "ASTER"
  "ASTR"
  "ATA"
  "ATH"
  "ATOM"
  "AUCTION"
  "AUD"
  "AUDD"
  "AUDIO"
  "AURORA"
  "AVAIL"
  "AVAX"
  "AVNT"
  "AVT"
  "AWE"
  "AWG"
  "AXL"
  "AXS"
  "AZERO"
  "AZN"
  "AZTEC"
  "B3"
  "BABYDOGE"
  "BADGER"
  "BAKE"
  "BAL"
  "BAM"
  "BAN"
  "BANANA"
  "BAND"
  "BARD"
  "BARSIK"
  "BASED1"
  "BAT"
  "BB"
  "BBD"
  "BBSOL"
  "BCH"
  "BDT"
  "BDX"
  "BEAM"
  "BEER"
  "BERA"
  "BERASTONE"
  "BGB"
  "BGN"
  "BHD"
  "BICO"
  "BIF"
  "BIGTIME"
  "BILL"
  "BILLY"
  "BINK"
  "BIO"
  "BIRB"
  "BIT"
  "BITCOIN"
  "BLAST"
  "BLD"
  "BLEND"
  "BLUR"
  "BLZ"
  "BMD"
  "BNB"
  "BND"
  "BNKR"
  "BNSOL"
  "BNT"
  "BOB"
  "BOBA"
  "BOBBOB"
  "BODEN"
  "BOME"
  "BOND"
  "BONE"
  "BONK"
  "BORA"
  "BORG"
  "BPX"
  "BRETT"
  "BREV"
  "BRL"
  "BSC-USD"
  "BSD"
  "BSV"
  "BTC"
  "BTC.B"
  "BTG"
  "BTN"
  "BTRST"
  "BTSE"
  "BTT"
  "BUIDL"
  "BUSD"
  "BWP"
  "BYN"
  "BZD"
  "BZR"
  "C98"
  "CAD"
  "CAKE"
  "CANTO"
  "CAP"
  "CAR"
  "CAT"
  "CBBTC"
  "CBETH"
  "CDAI"
  "CDF"
  "CEL"
  "CELO"
  "CELR"
  "CET"
  "CETH"
  "CETUS"
  "CFG"
  "CFX"
  "CGLD"
  "CGPT"
  "CHECK"
  "CHEEL"
  "CHEEMS"
  "CHEX"
  "CHF"
  "CHILLGUY"
  "CHIP"
  "CHR"
  "CHZ"
  "CKB"
  "CLANKER"
  "CLBTC"
  "CLF"
  "CLP"
  "CLV"
  "CMETH"
  "CNH"
  "CNY"
  "COMAI"
  "COMP"
  "COOKIE"
  "COP"
  "COQ"
  "CORE"
  "CORECHAIN"
  "CORGIAI"
  "COSMOSDYDX"
  "COTI"
  "COVAL"
  "COW"
  "CPOOL"
  "CRC"
  "CRO"
  "CRPT"
  "CRV"
  "CSPR"
  "CTB"
  "CTC"
  "CTR"
  "CTSI"
  "CTX"
  "CUC"
  "CUP"
  "CVC"
  "CVE"
  "CVX"
  "CWBTC"
  "CZK"
  "DADDYCHILL"
  "DAG"
  "DAI"
  "DAO"
  "DAR"
  "DASH"
  "DATA"
  "DBR"
  "DCR"
  "DDX"
  "DEEP"
  "DEGEN"
  "DESO"
  "DEXE"
  "DEXT"
  "DGB"
  "DHN"
  "DIA"
  "DIEM"
  "DIMO"
  "DJF"
  "DKK"
  "DNT"
  "DOG"
  "DOGE"
  "DOGINME"
  "DOGS"
  "DOLO"
  "DOOD"
  "DOP"
  "DORA"
  "DOT"
  "DRIFT"
  "DRV"
  "DYDX"
  "DYM"
  "DYP"
  "DZD"
  "EBTC"
  "EDGE"
  "EDGEX"
  "EDU"
  "EDUM"
  "EETH"
  "EGLD"
  "EGP"
  "EIGEN"
  "ELA"
  "ELF"
  "ELG"
  "ELSA"
  "ENA"
  "ENJ"
  "ENS"
  "EOS"
  "ERA"
  "ERN"
  "ESP"
  "ETB"
  "ETC"
  "ETH"
  "ETH2"
  "ETHDYDX"
  "ETHFI"
  "ETHW"
  "ETHX"
  "EUL"
  "EUR"
  "EURC"
  "EUROC"
  "EVER"
  "EZETH"
  "FAI"
  "FARM"
  "FARTCOIN"
  "FDUSD"
  "FET"
  "FIDA"
  "FIGHT"
  "FIL"
  "FIS"
  "FJD"
  "FKP"
  "FLOCK"
  "FLOKI"
  "FLOW"
  "FLR"
  "FLUID"
  "FLUX"
  "FORT"
  "FORTH"
  "FOX"
  "FRAX"
  "FRIEND"
  "FRXETH"
  "FTM"
  "FTW"
  "FUN1"
  "FWOG"
  "G"
  "GAJ"
  "GAL"
  "GALA"
  "GAME"
  "GAS"
  "GBP"
  "GEL"
  "GEOD"
  "GFI"
  "GGP"
  "GHO"
  "GHS"
  "GHST"
  "GIGA"
  "GIP"
  "GLM"
  "GLMR"
  "GMD"
  "GMT"
  "GMX"
  "GNF"
  "GNO"
  "GNS"
  "GOAT"
  "GODS"
  "GPS"
  "GRAM"
  "GRASS"
  "GRIFFAIN"
  "GRIN"
  "GROVE"
  "GRT"
  "GRVT"
  "GST"
  "GT"
  "GTC"
  "GTQ"
  "GUSD"
  "GWEI"
  "GXC"
  "GYD"
  "GYEN"
  "H2O"
  "HBAR"
  "HBTC"
  "HFT"
  "HIGH"
  "HKD"
  "HMSTR"
  "HNL"
  "HNT"
  "HOME"
  "HONEY"
  "HOPR"
  "HOT"
  "HRK"
  "HT"
  "HTG"
  "HUF"
  "HYPE"
  "HYPER"
  "IBERA"
  "ICNT"
  "ICP"
  "ICX"
  "ID"
  "IDEX"
  "IDR"
  "ILS"
  "ILV"
  "IMP"
  "IMU"
  "IMX"
  "INDEX"
  "INJ"
  "INR"
  "INSURANCE"
  "INV"
  "INX"
  "IO"
  "IOST"
  "IOTA"
  "IOTX"
  "IP"
  "IQ"
  "IQD"
  "IRR"
  "IRYS"
  "ISK"
  "JASMY"
  "JEP"
  "JITOSOL"
  "JMD"
  "JOD"
  "JOE"
  "JPY"
  "JST"
  "JTO"
  "JUP"
  "JUPITER"
  "JUPSOL"
  "KAIA"
  "KAIO"
  "KAITO"
  "KARRAT"
  "KAS"
  "KAT"
  "KAVA"
  "KCS"
  "KDA"
  "KEEP"
  "KEKIUS"
  "KERNEL"
  "KES"
  "KET"
  "KEYCAT"
  "KGS"
  "KHR"
  "KITE"
  "KLAY"
  "KMF"
  "KMNO"
  "KNC"
  "KOGE"
  "KPW"
  "KRD"
  "KRL"
  "KRW"
  "KSM"
  "KTA"
  "KUB"
  "KWD"
  "KYD"
  "KZT"
  "L1X"
  "L3"
  "LA"
  "LADYS"
  "LAK"
  "LAYER"
  "LBP"
  "LBTC"
  "LCX"
  "LDO"
  "LEO"
  "LIGHTER"
  "LINEA"
  "LINK"
  "LION"
  "LIT"
  "LKR"
  "LMTS"
  "LOKA"
  "LOOM"
  "LPT"
  "LQR"
  "LQTY"
  "LRC"
  "LRD"
  "LRDS"
  "LSETH"
  "LSK"
  "LSL"
  "LTC"
  "LUCE"
  "LUNA"
  "LUNC"
  "LUSD"
  "LYD"
  "LYX"
  "LYXE"
  "MAD"
  "MAGA"
  "MAGIC"
  "MAMO"
  "MANA"
  "MANTA"
  "MANTLE"
  "MASK"
  "MATH"
  "MATIC"
  "MAV"
  "MAVIA"
  "MCO2"
  "MCOIN"
  "MDL"
  "MDT"
  "ME"
  "MEDIA"
  "MEGA"
  "MELANIA"
  "MEME"
  "MEOW"
  "MET"
  "META"
  "METAKPK"
  "METH"
  "METIS"
  "MEW"
  "MEZO"
  "MGA"
  "MINA"
  "MIR"
  "MKD"
  "MKR"
  "MKUSD"
  "MLN"
  "MMK"
  "MMX"
  "MNDE"
  "MNT"
  "MOBILE"
  "MOCA"
  "MOG"
  "MON"
  "MONA"
  "MONKEYS"
  "MOODENG"
  "MOP"
  "MORPHO"
  "MOVE"
  "MOVR"
  "MPLX"
  "MRS"
  "MRU"
  "MSOL"
  "MTD"
  "MTL"
  "MUBI"
  "MULTI"
  "MUMU"
  "MUR"
  "MURA"
  "MUSD"
  "MUSE"
  "MVR"
  "MWC"
  "MWK"
  "MX"
  "MXC"
  "MXN"
  "MYR"
  "MYRO"
  "MYTH"
  "MZN"
  "NAD"
  "NCT"
  "NEAR"
  "NEI"
  "NEO"
  "NEON"
  "NEWT"
  "NEX"
  "NEXO"
  "NFT"
  "NGN"
  "NIO"
  "NKN"
  "NMR"
  "NMT"
  "NOICE"
  "NOK"
  "NOM"
  "NOS"
  "NOT"
  "NPC"
  "NPR"
  "NTRN"
  "NU"
  "NXM"
  "NZD"
  "O"
  "OAS"
  "OCEAN"
  "OGN"
  "OHM"
  "OKB"
  "OLAS"
  "OMG"
  "OMI"
  "OMIKAMI"
  "OMNI"
  "OMR"
  "ONDO"
  "ONE"
  "ONG"
  "ONT"
  "OOKI"
  "OP"
  "OPG"
  "OPN"
  "ORA"
  "ORAI"
  "ORCA"
  "ORDI"
  "ORN"
  "OSAK"
  "OSETH"
  "OSMO"
  "OUSG"
  "OXT"
  "OX_OLD"
  "PAAL"
  "PAB"
  "PANDORA"
  "PARTI"
  "PAX"
  "PAXG"
  "PCI"
  "PEAQ"
  "PEN"
  "PENDLE"
  "PENGU"
  "PEOPLE"
  "PEPE"
  "PEPECOIN"
  "PERP"
  "PGK"
  "PHA"
  "PHP"
  "PI"
  "PIP"
  "PIRATE"
  "PIXEL"
  "PKR"
  "PLA"
  "PLN"
  "PLU"
  "PLUME"
  "PNG"
  "PNUT"
  "POKT"
  "POL"
  "POLS"
  "POLY"
  "POLYX"
  "POND"
  "PONKE"
  "POPCAT"
  "PORK"
  "PORTAL"
  "POWR"
  "PRCL"
  "PRIME"
  "PRL"
  "PRO"
  "PROM"
  "PROMPT"
  "PROS"
  "PROVE"
  "PRQ"
  "PTGC"
  "PUMP"
  "PUMPBTC"
  "PUNDIAI"
  "PUNDIX"
  "PURR"
  "PYG"
  "PYR"
  "PYTH"
  "PYUSD"
  "QAR"
  "QFI"
  "QGOLD"
  "QI"
  "QNT"
  "QTUM"
  "QUBIC"
  "QUICK"
  "RAD"
  "RAI"
  "RARE"
  "RARI"
  "RAVE"
  "RAY"
  "RBN"
  "RBNT"
  "RDOG"
  "RE"
  "RECALL"
  "RED"
  "REI"
  "REN"
  "RENDER"
  "REP"
  "REPV2"
  "REQ"
  "RETH"
  "REZ"
  "RGT"
  "RIF"
  "RLB"
  "RLC"
  "RLS"
  "RLUSD"
  "RLY"
  "RNBW"
  "RNDR"
  "ROBO"
  "RON"
  "RONIN"
  "ROSE"
  "RPL"
  "RSC"
  "RSD"
  "RSETH"
  "RSR"
  "RSS3"
  "RUB"
  "RUNE"
  "RVN"
  "RWF"
  "S"
  "SAFE"
  "SAGA"
  "SAND"
  "SAPIEN"
  "SAR"
  "SAROS"
  "SATS"
  "SAVAX"
  "SBD"
  "SC"
  "SCR"
  "SD"
  "SDG"
  "SEAM"
  "SEI"
  "SEK"
  "SENT"
  "SERAPH"
  "SFP"
  "SFRXETH"
  "SFUND"
  "SGB"
  "SGD"
  "SHDW"
  "SHIB"
  "SHIRO"
  "SHP"
  "SHPING"
  "SIGN"
  "SKL"
  "SKR"
  "SKY"
  "SLE"
  "SLERF"
  "SLL"
  "SLP"
  "SNEK"
  "SNT"
  "SNX"
  "SOL"
  "SOLO"
  "SOLVBTC"
  "SONIC"
  "SOS"
  "SPA"
  "SPELL"
  "SPK"
  "SPX"
  "SQD"
  "SRD"
  "SSOL"
  "SSP"
  "SSV"
  "STAU"
  "STBTC"
  "STEAKEURCV"
  "STEAKUSDC"
  "STETH"
  "STG"
  "STN"
  "STORJ"
  "STRAX"
  "STRD"
  "STRK"
  "STSOL"
  "STX"
  "SUI"
  "SUKU"
  "SUN"
  "SUNDOG"
  "SUP"
  "SUPER"
  "SUPEROETHB"
  "SUSDE"
  "SUSDS"
  "SUSHI"
  "SVC"
  "SWARMS"
  "SWELL"
  "SWETH"
  "SWFTC"
  "SXP"
  "SXT"
  "SYBTC"
  "SYLO"
  "SYN"
  "SYND"
  "SYP"
  "SYRUP"
  "SZL"
  "T"
  "TAO"
  "TBTC"
  "TEL"
  "TET"
  "TFUEL"
  "TGBP"
  "THB"
  "THETA"
  "THQ"
  "TIA"
  "TIME"
  "TITS"
  "TJS"
  "TKX"
  "TMT"
  "TND"
  "TNSR"
  "TON"
  "TONE"
  "TOP"
  "TOPIA"
  "TOSHI"
  "TOWNS"
  "TRAC"
  "TRB"
  "TREE"
  "TRIA"
  "TRIBE"
  "TRIP"
  "TROLL"
  "TRU"
  "TRUMP"
  "TRUST"
  "TRX"
  "TRY"
  "TST"
  "TTD"
  "TURBO"
  "TUSD"
  "TVK"
  "TWD"
  "TWT"
  "TZS"
  "UAH"
  "UFD"
  "UGX"
  "ULTIMA"
  "UMA"
  "UNFI"
  "UNI"
  "UOS"
  "UP"
  "UQC"
  "USD"
  "USD0"
  "USD1"
  "USDA"
  "USDB"
  "USDC"
  "USDC.E"
  "USDD"
  "USDE"
  "USDG"
  "USDP"
  "USDS"
  "USDT"
  "USDT0"
  "USDX"
  "USDY"
  "USELESS"
  "USR"
  "UST"
  "USTC"
  "USUAL"
  "USYC"
  "UXLINK"
  "UYU"
  "UZS"
  "VANA"
  "VANRY"
  "VARA"
  "VEF"
  "VELO"
  "VENOM"
  "VES"
  "VET"
  "VGX"
  "VINE"
  "VIRTUAL"
  "VND"
  "VNST"
  "VOXEL"
  "VR"
  "VRSC"
  "VTHO"
  "VUV"
  "VVV"
  "W"
  "W3S"
  "WAL"
  "WAMPL"
  "WAVAX"
  "WAVES"
  "WAXL"
  "WAXP"
  "WBETH"
  "WBNB"
  "WBT"
  "WBTC"
  "WCT"
  "WEETH"
  "WELL"
  "WEMIX"
  "WEN"
  "WET"
  "WETH"
  "WHITE"
  "WIF"
  "WILD"
  "WLD"
  "WLFI"
  "WLUNA"
  "WMTX"
  "WOO"
  "WOULD"
  "WRON"
  "WST"
  "WSTETH"
  "WSTUSR"
  "XAF"
  "XAG"
  "XAI"
  "XAN"
  "XAU"
  "XAUT"
  "XCD"
  "XCG"
  "XCH"
  "XCN"
  "XDC"
  "XEC"
  "XEM"
  "XLM"
  "XMON"
  "XMR"
  "XOF"
  "XPD"
  "XPF"
  "XPL"
  "XPT"
  "XRD"
  "XRP"
  "XSGD"
  "XSOLVBTC"
  "XT"
  "XTZ"
  "XVS"
  "XYO"
  "YAYSTONE"
  "YB"
  "YER"
  "YFI"
  "YFII"
  "YGG"
  "ZAMA"
  "ZAR"
  "ZBC"
  "ZEC"
  "ZEN"
  "ZEREBRO"
  "ZETA"
  "ZETACHAIN"
  "ZEUS"
  "ZIL"
  "ZK"
  "ZKC"
  "ZKP"
  "ZMW"
  "ZORA"
  "ZRO"
  "ZRX"
  "ZWG"
  "ZWL"
  "ZYPTO"}
